<h1 class="nav-title">Diary Application</h1>
<nav>
	<button class="button" onclick="window.location.href='/journals'">Journals</button>
	<button class="button" onclick="window.location.href='/create-journal'">Create New Journal</button>
	<button class="button" onclick="window.location.href='/pick-journal-to-write'">Write To Journal</button>
</nav>