<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../assets/css/style.css">
        <meta charset="utf-8" />
        <title>Home Page</title>
    </head>
    <body>
        <%- include("partials/navigation.ejs") %>
        <h1>Welcome to the Diary App!</h1>
    </body>
</html>